<a href="https://colab.research.google.com/github/mohkaow/AIML101/blob/master/103_sql_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img height="45px" src="https://avatars3.githubusercontent.com/u/20337240?s=460&v=4" align="left" hspace="10px" vspace="0px">

# สรุปภาษา SQL 
<h2>ฉบับนักเขียนโปรแกรม </h2>

<a href='https://www.facebook.com/programmerthai'><font color='green'>สรุปและเรียบเรียงโดยโปรแกรมเมอร์ไทย thai programmer</font></a>


* ตัวอย่างโค้ดจะใช้ภาษา Python
* ส่วนฐานข้อมูลคือ SQLite


<hr>

# วิธีใช้งาน colab

Colab พัฒนาโดย google เป็นหน้าเว็บเอาไว้ใช้เขียนโค้ด python ได้ผ่านทางหน้าเว็บ และเชื่อมต่อกับ google drive ของเราก็ได้ด้วย ซึ่งอยากให้ดูวิธีการใช้งาน colab เสียก่อน

<h3>กด Save a copy in Drive ... เพื่อบันทึกไว้ google drive เครื่องเรา</h3>

(ต้องมี Gmail และ google drive)

<img height="300px" src="https://www.patanasongsivilai.com/blog/wp-content/uploads/2019/11/python_matayom_1.png" align="left" hspace="10px" vspace="0px">

<img height="200px" src="https://www.patanasongsivilai.com/blog/wp-content/uploads/2019/11/python_matayom_2.png" align="left" hspace="10px" vspace="0px">


<img height="200px" src="https://www.patanasongsivilai.com/blog/wp-content/uploads/2019/11/python_matayom_3.png" align="left" hspace="10px" vspace="0px">

# สร้างฟังก์ชัน Utility 

จะเอาไว้ใชในตัวโค้ด


---

**ใช้มอดูล Pandas**

In [0]:
import numpy as np
import pandas as pd  

from IPython.core.display import display, HTML

display(HTML("<style>.container { width:90% !important; }</style>"))
pd.options.display.max_columns = 999
pd.options.display.max_rows = 999

In [0]:
def get_data(cursor):
  all_rows = []
  [all_rows.append(np.array(row)) for row in cursor]
  column_names = [description[0] for description in cursor.description]
  return all_rows, column_names

In [0]:
def show_data(data, column_names):  
  df = pd.DataFrame(data, columns = column_names) # Create the pandas DataFrame 
  print(df.to_string(index=False))

# เชื่อมต่อฐานข้อมูล (Connect to Database)


---

In [0]:
import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully")
conn.close()

# สร้าง Table (Create a Table)


---

In [0]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute('''CREATE TABLE COMPANY
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL)''')

conn.close() 
print("Table created successfully")

# แทรกข้อมูล (INSERT Query)


---

In [0]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )");

  conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");

  conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )");

  conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )");

  conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (5, 'David', 27, 'Texas', 85000.00 )")

  conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (6, 'Kim', 22, 'South-Hall', 45000.00 )")
  #conn.commit()

conn.close() 
print("Records created successfully")

**หรือจะเขียนสั้นๆ แบบนี้ก็ได้ (เมื่อต้องแทรกทุก fields)**

In [0]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute("INSERT INTO COMPANY VALUES (7, 'James', 24, 'Houston', 10000.00)")
  conn.execute("INSERT INTO COMPANY VALUES (8, 'Paul', 24, 'Houston', 20000.00)")
  conn.execute("INSERT INTO COMPANY VALUES (9, 'James', 44, 'Norway', 5000.00)")
  #conn.commit()

conn.close() 
print("Records created successfully")

# แก้ไขตาราง (ALTER)

## ตัวอย่างเปลี่ยนชื่อ Table

In [0]:
conn = sqlite3.connect('test.db')

with conn:
  cursor = conn.execute("ALTER TABLE COMPANY RENAME TO OLD_COMPANY")

conn.close() 
print("Operation done successfully")

## ตัวอย่างเพิ่มคอลัมน์

In [0]:
conn = sqlite3.connect('test.db')

with conn:
  cursor = conn.execute("ALTER TABLE OLD_COMPANY ADD COLUMN SEX char(1)")

conn.close() 
print("Operation done successfully")

## ลองคิวรี่ดูข้อมูล

In [0]:
conn = sqlite3.connect('test.db')

with conn:
  cursor = conn.execute("SELECT * FROM OLD_COMPANY")
  rows, column_names = get_data(cursor)

conn.close() 
print("Operation done successfully")
show_data(rows, column_names)

# ทิ้ง Table (Drop Table)


---

In [0]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute("DROP table OLD_COMPANY")

conn.close() 
print("Table dropped successfully")

# AUTOINCREMENT

ตัวอย่างสร้าง TABLE ชื่อ COMPANY ขึ้นมาใหม่ โดยให้ PRIMARY KEY เพิ่มเองอัตโนมัติ

In [0]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute('''CREATE TABLE COMPANY
        (ID INTEGER PRIMARY KEY AUTOINCREMENT,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL)''')

conn.close()   
print("Table created successfully")

**เพิ่มข้อมูลลงไปในตาราง COMPANY ใหม่อีกครั้ง โดยไม่ต้องระบุ PRIMARY KEY**

In [0]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)\
             VALUES ('Paul', 32, 'California', 20000.00 )")

  conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)\
            VALUES ('Allen', 25, 'Texas', 15000.00 )")

  conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)\
            VALUES ('Teddy', 23, 'Norway', 20000.00 )")

  conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)\
            VALUES ('Mark', 25, 'Rich-Mond ', 65000.00 )")

  conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)\
            VALUES ('David', 27, 'Texas', 85000.00 )")

  conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)\
            VALUES ('Kim', 22, 'South-Hall', 45000.00 )")

  conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)\
            VALUES ('James', 24, 'Houston', 10000.00)")

  conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)\
            VALUES ('Paul', 24, 'Houston', 20000.00)")

  conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)\
            VALUES ('James', 44, 'Norway', 5000.00)")
  #conn.commit()

print("Records created successfully")

# ค้นหาข้อมูล (SELECT Query)


---

**ใช้ฟังก์ชัน Utility ที่เตรียมไว้ให้ เพื่อแสดงข้อมูลจากการคิวรี่ดีกว่า**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
rows, column_names = get_data(cursor)

conn.close() 
print("Operation done successfully")
show_data(rows, column_names)

# ประโยค WHERE (WHERE Clause)

## ตัวอย่างใช้ operator เป็น AND

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY WHERE AGE >= 25 AND SALARY >= 65000")
rows, column_names = get_data(cursor)

conn.close() 
print("Operation done successfully")
show_data(rows, column_names)

## ตัวอย่างใช้ operator เป็น OR

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY WHERE AGE >= 25 OR SALARY >= 65000")
rows, column_names = get_data(cursor)

conn.close() 
print("Operation done successfully")
show_data(rows, column_names)

## ตัวอย่างใช้ประโยค IS NULL

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY WHERE SALARY IS NULL")
rows, column_names = get_data(cursor)

conn.close() 
print("Operation done successfully")
show_data(rows, column_names)

## ตัวอย่างใช้ประโยค IS NOT NULL

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY WHERE AGE IS NOT NULL")
rows, column_names = get_data(cursor)

conn.close() 
print("Operation done successfully")
show_data(rows, column_names)

## ตัวอย่างใช้ประโยค LIKE

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY WHERE age LIKE '2%'")
rows, column_names = get_data(cursor)

conn.close() 
print("Operation done successfully")
show_data(rows, column_names)

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY WHERE ADDRESS  LIKE '%-%'")
rows, column_names = get_data(cursor)

conn.close() 
print("Operation done successfully")
show_data(rows, column_names)

## ตัวอย่างใช้ประโยค GLOB

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY WHERE NAME GLOB 'Ki*'")
rows, column_names = get_data(cursor)

conn.close() 
print("Operation done successfully")
show_data(rows, column_names)

## ตัวอย่างใช้ operator เป็น  IN

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY WHERE AGE IN ( 25, 27 )")
rows, column_names = get_data(cursor)

conn.close() 
print("Operation done successfully")
show_data(rows, column_names)

## ตัวอย่างใช้ operator เป็น NOT IN

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY WHERE AGE NOT IN ( 25, 27 )")
rows, column_names = get_data(cursor)

conn.close() 
print("Operation done successfully")
show_data(rows, column_names)

## ตัวอย่างใช้ operator เป็น BETWEEN

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY WHERE AGE BETWEEN 25 AND 27")
rows, column_names = get_data(cursor)

conn.close() 
print("Operation done successfully")
show_data(rows, column_names)

## ตัวอย่างใช้ประโยค EXISTS

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT AGE FROM COMPANY\
   WHERE EXISTS (SELECT AGE FROM COMPANY WHERE SALARY > 65000);")
rows, column_names = get_data(cursor)

conn.close() 
print("Operation done successfully")
show_data(rows, column_names)

## ตัวอย่างใช้ sub-query

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY \
   WHERE AGE > (SELECT AGE FROM COMPANY WHERE SALARY > 65000)")
rows, column_names = get_data(cursor)

conn.close() 
print("Operation done successfully")
show_data(rows, column_names)

# คำสั่ง DISTINCT

**ก่อนใช้ DISTINCT**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT DISTINCT name FROM COMPANY")
rows, column_names = get_data(cursor)

conn.close() 
print("Operation done successfully")
show_data(rows, column_names)

**หลังใช้ DISTINCT**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT DISTINCT name FROM COMPANY")
rows, column_names = get_data(cursor)

conn.close() 
print("Operation done successfully")
show_data(rows, column_names)

# ประโยค LIMIT (LIMIT Clause)

## ตัวอย่างใช้ LIMIT

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY LIMIT 6")
rows, column_names = get_data(cursor)

conn.close() 
print("Operation done successfully")
show_data(rows, column_names)

## ตัวอย่างใช้ OFFSET ร่วมเดียว

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY LIMIT 3 OFFSET 2")
rows, column_names = get_data(cursor)

conn.close() 
print("Operation done successfully")
show_data(rows, column_names)

# อัพเพตข้อมูล (UPDATE Query)


---

In [0]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = 1")  
  print("Total number of rows updated :", conn.total_changes)

conn.close()
print("Operation done successfully");

แสดงข้อมูลใน table หลังแก้ไข

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully");
show_data(rows, column_names)

# ลบ Record (DELETE Query)


---

**ตัวอย่างการลบ record ที่มี id = 2**

In [0]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute("DELETE from COMPANY where ID = 2")
  print("Total number of rows deleted :", conn.total_changes)

conn.close()

**ลองค้นหาข้อมูลใน Table ใหม่**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully");
show_data(rows, column_names)

# Commit กับ Rollback

## ตัวอย่างเรียกใช้ commit()

In [0]:
conn = sqlite3.connect('test.db')

conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)\
            VALUES ('Mana', 65, 'Thailand', 15000.00)")
conn.commit()
conn.close()   
print("Records created successfully")

## ตัวอย่างเรียกใช้ rollback()

In [0]:
conn = sqlite3.connect('test.db')

conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)\
            VALUES ('Manee', 15, 'Thailand', 15000.00)")
conn.rollback()
conn.close()   
print("Table created successfully")

**ลองคิวรี่ดูข้อมูล**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
rows, column_names = get_data(cursor)

conn.close() 
print("Operation done successfully")
show_data(rows, column_names)

## เมื่อใช้ประโยค with
* เมธอด commit() จะถูกเรียกอัตโนมัติหลังจากบล็อกทำงานเสร็จ
* เมธอด rollback() จะถูกเรียกอัตโนมัติเมื่อเกิด exception

In [0]:
conn = sqlite3.connect('test.db')

# Successful, con.commit() is called automatically afterwards
with conn:
    conn.execute("DELETE FROM COMPANY WHERE AGE = 65")
    print("Total number of rows deleted :", conn.total_changes)

# con.rollback() is called after the with block finishes with an exception, the
# exception is still raised and must be caught
try:
    with conn:
        conn.execute("DELETE FROM COMPANY WHERE AGE = 65")
except sqlite3.IntegrityError:
    print ("couldn't delete twice")

conn.close()

# ประโยค ORDER BY

## ตัวอย่างใช้ ASC

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY ORDER BY SALARY ASC")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY ORDER BY NAME, SALARY ASC")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

##  ตัวอย่างใช้ DESC

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY ORDER BY NAME DESC")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

# ประโยค GROUP BY

**ตัวอย่างใช้ GROUP BY**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT NAME, SUM(SALARY) FROM COMPANY GROUP BY NAME")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

**ตัวอย่างใช้ GROUP BY ร่วมกับ ORDER BY**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT NAME, SUM(SALARY) FROM COMPANY GROUP BY NAME ORDER BY NAME")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

**ตัวอย่างใช้ GROUP BY ร่วมกับ ORDER BY และ DESC**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT NAME, SUM(SALARY) FROM COMPANY GROUP BY NAME ORDER BY NAME DESC")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

# ประโยค Having


---

**ตัวอย่างใช้ count**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY GROUP BY name HAVING count(name) < 2")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

**ตัวอย่างใช้ count**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY GROUP BY name HAVING count(name) > 2")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

# JOIN


---

## สร้าง Table ขึ้นมาใหม่

In [0]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute('''CREATE TABLE DEPARTMENT(
   ID INT PRIMARY KEY      NOT NULL,
   DEPT           CHAR(50) NOT NULL,
   EMP_ID         INT      NOT NULL
  );''')

conn.close()
print("Table created successfully")

## เพิ่ม Record ใหม่ลงไป

In [0]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute("INSERT INTO DEPARTMENT (ID, DEPT, EMP_ID) \
  VALUES (1, 'IT Billing', 1 )")

  conn.execute("INSERT INTO DEPARTMENT (ID, DEPT, EMP_ID) \
  VALUES (2, 'Engineering', 2 )")

  conn.execute("INSERT INTO DEPARTMENT (ID, DEPT, EMP_ID) \
  VALUES (3, 'Finance', 7 )")

conn.close()
print("Records created successfully")

## ลองแสดงข้อมูลอง DEPARTMENT

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT id, DEPT, EMP_ID from DEPARTMENT")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

## Cross Join

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT EMP_ID, NAME, DEPT FROM COMPANY CROSS JOIN DEPARTMENT")
rows, column_names = get_data(cursor)

print("Operation done successfully")
conn.close()
show_data(rows, column_names)

## Inner Join

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT EMP_ID, NAME, DEPT FROM COMPANY INNER JOIN DEPARTMENT \
   ON COMPANY.ID = DEPARTMENT.EMP_ID")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

## Outer Join

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT EMP_ID, NAME, DEPT FROM COMPANY LEFT OUTER JOIN DEPARTMENT \
   ON COMPANY.ID = DEPARTMENT.EMP_ID")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

# UNION

**ลองดูข้อมูลจาก COMPANY**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("select * from COMPANY")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

**ลองดูข้อมูลใน DEPARTMENT**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("select * from DEPARTMENT")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

## ตัวอย่างใช้ UNION

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute('''SELECT EMP_ID, NAME, DEPT FROM COMPANY INNER JOIN DEPARTMENT
         ON COMPANY.ID = DEPARTMENT.EMP_ID
         
         UNION
         
         SELECT EMP_ID, NAME, DEPT FROM COMPANY LEFT OUTER JOIN DEPARTMENT
         ON COMPANY.ID = DEPARTMENT.EMP_ID''')

rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

## ตัวอย่างใช้ UNION ALL

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute('''SELECT EMP_ID, NAME, DEPT FROM COMPANY INNER JOIN DEPARTMENT
         ON COMPANY.ID = DEPARTMENT.EMP_ID
         
         UNION ALL

         SELECT EMP_ID, NAME, DEPT FROM COMPANY LEFT OUTER JOIN DEPARTMENT
         ON COMPANY.ID = DEPARTMENT.EMP_ID;''')

rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

# ใช้ ALIAS อ้างอิง Table หรือคอลัมน์เสียใหม่

## ตัวอย่างต้งชื่ออ้างอิง Tale

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute('''SELECT C.ID, C.NAME, C.AGE, D.DEPT
                FROM COMPANY AS C, DEPARTMENT AS D
                WHERE  C.ID = D.EMP_ID''')
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

## ตัวอย่างต้งชื่ออ้างอิงคอลัมน์

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute('''SELECT C.ID AS COMPANY_ID, C.NAME AS COMPANY_NAME, C.AGE, D.DEPT
                          FROM COMPANY AS C, DEPARTMENT AS D
                          WHERE  C.ID = D.EMP_ID''')
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

# คิวรี่ย่อย (Subqueries)

## ตัวอย่างประโยค SELECT กับคิวรี่ย่อย

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute('''SELECT * 
   FROM COMPANY 
   WHERE ID IN (SELECT ID 
      FROM COMPANY 
      WHERE SALARY > 45000)''')
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

## ตัวอย่างประโยค INSERT กับคิวรี่ย่อย

**สร้างอีก Table หนึ่งชื่อ COMPANY_BKP**

In [0]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute('''CREATE TABLE COMPANY_BKP
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL)''')

conn.close()
print("Table created successfully")

**ใช้ INSERT กับคิวรี่ย่อย**

In [0]:
conn = sqlite3.connect('test.db')

with conn:
  cursor = conn.execute('''INSERT INTO COMPANY_BKP
   SELECT * FROM COMPANY 
   WHERE ID IN (SELECT ID 
      FROM COMPANY)''')

conn.close()
print("Records created successfully")

**แสดงข้อมูลใน COMPANY_BKP ออกมาดู**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY_BKP")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

## ตัวอย่างประโยค UPDATE กับคิวรี่ย่อย

**ใช้ UPDATE กับคิวรี่ย่อย**

In [0]:
conn = sqlite3.connect('test.db')

with conn:
  cursor = conn.execute('''UPDATE COMPANY
   SET SALARY = SALARY * 0.50
   WHERE AGE IN (SELECT AGE FROM COMPANY_BKP
      WHERE AGE >= 27 )''')

conn.close()
print("Records created successfully")

**ลองคิวรี่ข้อมูลจาก COMPANY**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

## ตัวอย่างประโยค DELETE กับคิวรี่่ย่อย

**ใช้ประโยค DELETE กับคิวรี่่ย่อย**

In [0]:
conn = sqlite3.connect('test.db')

with conn:
  cursor = conn.execute('''DELETE FROM COMPANY
   WHERE AGE IN (SELECT AGE FROM COMPANY_BKP
   WHERE AGE > 27 )''')

conn.close()
print("Records created successfully")

**ลองคิวรี่ข้อมูลจาก COMPANY**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

# Indexes

## ตัวอย่างสร้าง Index

In [0]:
conn = sqlite3.connect('test.db')

with conn:
  cursor = conn.execute("CREATE INDEX salary_index ON COMPANY (salary)")

conn.close()
print("Operation done successfully")

## ตัวอย่างค้นหา Index

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM sqlite_master WHERE type = 'index'")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

## ใช้ SELECT ร่วมกับ index

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY INDEXED BY salary_index WHERE salary > 5000")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

## ลบ Index

In [0]:
conn = sqlite3.connect('test.db')

with conn:
  cursor = conn.execute("DROP INDEX salary_index")

conn.close()
print("Operation done successfully")

# Views

**ตัวอย่างสร้าง View**

In [0]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute('''CREATE VIEW COMPANY_VIEW AS
                SELECT ID, NAME, AGE
                FROM  COMPANY;''')

conn.close()
print("View created successfully")

**ตัวอย่างแสดง View**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY_VIEW")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

**ตัวอย่างลบ View**

In [0]:
conn = sqlite3.connect('test.db')

with conn:
  cursor = conn.execute("DROP VIEW COMPANY_VIEW")

conn.close()
print("Operation done successfully")

# ฟังก์ชัน (รองรับ SQLite)

ฟังก์ชัน count จะนับจำนวนแถวของ Table

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT count(*) FROM COMPANY")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

**ฟังก์ชัน max ให้ค่ามากสุดของคอลัมน์นั้น**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT max(salary) FROM COMPANY")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

**ฟังก์ชัน min จะให้ค่าต่ำสุดของคอลัมน์นั้น**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT min(salary) FROM COMPANY")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

**ฟังก์ชัน avg จะให้ค่าเฉลี่ยของคอลัมน์นั้น**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT avg(salary) FROM COMPANY")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

**ฟังก์ชัน sum จะให้ผลรวมของคอลัมน์นั้นๆ**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT sum(salary) FROM COMPANY")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

**ฟังก์ชัน random จะให้ค่าจำนวเต็มระหว่าง -9223372036854775808 กับ +9223372036854775807**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT random() AS Random")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

**ฟังก์ชัน abs จะให้ค่า absolute**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT abs(5), abs(-15), abs(NULL), abs(0), abs('ABC')")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

**ฟังก์ชัน upper จะแปลงสตริงเป็นตัวใหญ่ให้หมด**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT upper(name) FROM COMPANY")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

**ฟังก์ชัน lower จะแปลงสตริงเป็นตัวเล็กให้หมด**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT lower(name) FROM COMPANY")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

**ฟังก์ชัน length เอาไว้นับความยาวสตริง**

In [0]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT name, length(name) FROM COMPANY")
rows, column_names = get_data(cursor)

conn.close()
print("Operation done successfully")
show_data(rows, column_names)

# อ้างอิง

* https://www.w3schools.com/sql/sql_intro.asp
* https://www.sqlite.org/index.html
* https://docs.python.org/2/library/sqlite3.html
* https://www.tutorialspoint.com/sqlite/sqlite_python.htm

# ทิ้งท้าย

In [0]:
#@title สามารถดาวน์โหลดสรุปคำสั่ง SQL ได้ที่นี้

%%HTML
<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fprogrammerthai%2Fposts%2F2552667661689736&width=500" width="500" height="726" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

# ฝากติดตาม
<br>
<img height="20px" src="https://www.patanasongsivilai.com/blog/wp-content/uploads/2017/06/logo_facebook2.png" align="left" hspace="10px" vspace="0px"> <a href="https://www.facebook.com/programmerthai/">https://www.facebook.com/programmerthai/</a>
<br>
<img height="14px" src="https://www.patanasongsivilai.com/blog/wp-content/uploads/2019/03/youtube.png" align="left" hspace="10px" vspace="3px">  
<a href="https://www.youtube.com/channel/UCvhCKtG5cRE6K5--RJPql_w">https://www.youtube.com/channel/UCvhCKtG5cRE6K5--RJPql_w</a>